*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
     /public/system
     /coverage/
     /spec/tmp
    **.orig
    rerun.txt
    pickle-email-*.html

## Bower Supplied
vendor/assets/frontend/*

## Environment normalisation:
/.bundle
/vendor/bundle

config/zepily.yml
config/unicorn.rb
config/god.rb

/db/seeds/private

erd.pdf
coverage/

    *.swp

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset
