development:
  sites:
    themes:
      base: /path/to/base/dir
      templates:
        bag: build/_backend/templates/shop/bag.html
        checkout: build/_backend/templates/shop/checkout.html
        email:
          confirm_order: build/_backend/templates/email/confirm_order.html
  publishing:
    paths:
      base: /path/to/base/dir
      categories: /categories
      products: /products

test:
  sites:
    themes:
      base: spec/dummy
      templates:
        bag: build/_backend/templates/shop/bag.html
        checkout: build/_backend/templates/shop/checkout.html
        email:
          confirm_order: build/_backend/templates/email/confirm_order.html
  publishing:
    paths:
      # This will be created AND deleted by spec runner
      base: <%= Rails.root.join('tmp', 'spec') %>
      categories: /categories
      products: /products

production:
  sites:
    themes:
      base: /var/www
      templates:
        bag: _backend/templates/shop/bag.html
        checkout: _backend/templates/shop/checkout.html
        email:
          confirm_order: _backend/templates/email/confirm_order.html
  publishing:
    paths:
      base: /var/www
      categories: /categories
      products: /products
