defaults: &defaults
  publishing:
    paths:
      base: /tmp
      categories: /categories
      products: /products

development:
  <<: *defaults

test:
  publishing:
    paths:
      base: /tmp/zw-data        # This will be created AND deleted by spec runner
      categories: /categories
      products: /products

production:
  <<: *defaults
