defaults: &defaults
  sites:
    themes:
      base: /tmp/sites
      templates:
        bag: build/_backend/templates/shop/bag.html
  publishing:
    paths:
      base: /tmp/sites
      categories: /categories
      products: /products

development:
  <<: *defaults

test:
  sites:
    themes:
      base: spec/dummy
      templates:
        bag: build/_backend/templates/shop/bag.html
  publishing:
    paths:
      # This will be created AND deleted by spec runner
      base: <%= Rails.root.join('tmp', 'spec') %>
      categories: /categories
      products: /products

production:
  <<: *defaults
