defaults: &defaults
  publishing:
    paths:
      base: /tmp
      categories: /categories
      products: /products

development:
  <<: *defaults

test:
  publishing:
    paths:
      # This will be created AND deleted by spec runner
      base: <%= Rails.root.join('tmp', 'spec') %>
      categories: /categories
      products: /products

production:
  <<: *defaults
